.nav {
  position: fixed !important;
  left: 0;
  height: 100%;
  overflow: auto;
  background: #001529;
}

.nav__setting {
  position: fixed;
  bottom: 10px;
  left: 170px;
  color: white;
  font-size: 20px;
}
